<<<<<<< HEAD
.conTratamientos h1{
    text-align: center;
    color: var(--azulFuerte);
    font-weight: bold;
}
.conTratamientos{
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 5.2rem);
}
.arrow{
margin-bottom: 600px;
margin-left: 30px;
font-weight: bolder;
color: var(--azulFuerte);
}
table{
width: 42%;
margin: 0 auto;
height: calc(21% - 5.2rem);
}
.conTratamientos button{
margin-left: 75%;
width: 40px;
height: 40px;
background-color: #23a6d5;
border-radius: 5px;
color: white;
font-weight: bolder;
font-size: 15px;
}
.conTratamientos input {
border: none;
width: 94%;
border-bottom: solid 3px var(--azulClaro);
background-color:  #f4f5f8;
color: var(--negroOpaco);
}

.conTratamientos tr{
padding: 10px 0 0 10px;
margin: 0;
color: teal;

}
=======
.conTratamientos h1{
    text-align: center;
    color: var(--azulFuerte);
    font-weight: bold;
}

>>>>>>> 8fc3667def120dc68c1402f4d13fed99f9f4e22b
